<a href="https://colab.research.google.com/github/michaeltm365/python_projects/blob/main/base_converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

In [ ]:
def convert_from_base(num, base):
  # convert from base to decimal
  if not isinstance(num, str):
    num = str(num)
  digits = [int(i) for i in list(num)]
  digits.reverse()
  output = 0
  for i in range(len(digits)):
    output += digits[i] * (base ** i)
  return output

# unit test
output = convert_from_base(321, 8)
print(output)
assert output == (3 * 8**2 + 2*8**1 + 1)

output = convert_from_base(1001, 2)
print(output)
assert output == (1*2**3 + 1)

209
9

In [ ]:
def convert_list_of_digits_to_num(lst, base):
  n = len(lst)-1
  out = 0
  for i in range(n+1):
    digit = lst[i] * (base**(n-i))
    out += digit
  return out

assert convert_list_of_digits_to_num([1,2,3], 10) == 123

In [ ]:
def convert_to_base(num, base):
  digits = []
  while num != 0:
    digits.insert(0, num % base)
    num = math.floor(num / base)
  out = convert_list_of_digits_to_num(digits, base)
  return out

x1 = convert_to_base(567, 4)
x2 = convert_from_base(x1, 4)
print(x1, x2)

x1 = convert_to_base(13821, 8)
x2 = convert_from_base(x1, 8)
print(x1, x2)

567 111
13821 6161